@model IEnumerable<Punchout.Entities.ViewCart>

@{
    ViewBag.Title = "MyShoppingCart";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div id="content">


    <div id="centerColumn">
        <div>
            <div align="left">
                <asp:Label ID="notifyLabel" runat="server" CssClass="NormalBold" Font-Bold="True" style="font-size:13px" Text="To update your cart, simply enter in the new quantity and click on the 'Update Your Shopping Cart' button."></asp:Label>
                <label id="notifyLabel" class="NormalBold" style="font-size: 13px;font-weight:bold;">To update your cart, simply enter in the new quantity and click on the 'Update Your Shopping Cart' button.</label>
            </div>
            <div id="ShoppingCartTitle" runat="server" class="ContentHead">@ViewBag.ShoppingCartTitle</div>
            <table  class="table tftable middle-bottom-content-inner" width="100%" id="MyList">
                <tr style="background: -webkit-linear-gradient(top, #4184c3 0%,#254562 100%);font-weight: bold;color: white;">

                    <th>Item Code</th>
                    <th>Item Desc.</th>
                    <th>Unit of Measure</th>
                    <th>Unit Cost</th>
                    <th>Quantity</th>
                    <th>Item Total</th>
                    <th>Remove Item</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr style="background-color: white;color: #333333;align-content:center;">

                        <td id="lblItemCode">@item.ItemCode</td>
                        <td id="lblItemCodeDesc">@item.ItemCodeDesc</td>
                        <td id="lblSalesUnitOfMeasure">@item.SalesUnitOfMeasure</td>
                        <td id="lblUnitCost">
                            @{
                                var unitprice = String.Format("{0:C}", item.UnitCost);
                                @Html.DisplayFor(Model => unitprice)
                            }
                        </td>
                        @*<td>@item.Quantity</td>*@
                        <td id="txtQuantity">
                            @Html.TextBoxFor(Model => item.Quantity)
                        </td>


                        <td id="lblitemtotal">
                            @{
                                var ItemTotal = String.Format("{0:C}",((Convert.ToDouble(item.Quantity) * Convert.ToDouble(item.UnitCost)) + (Convert.ToDouble(item.Quantity) * Convert.ToDouble(item.UDF_ENVIRONMENTAL)) +
             Convert.ToDouble(item.UDF_FREIGHT) + Convert.ToDouble(item.UDF_FUEL) + (Convert.ToDouble(item.Quantity) * Convert.ToDouble(item.UDF_OTHER))));
                               @Html.DisplayFor(Model=> ItemTotal)
                            }

                        </td>
                        <td id="chkremove"><input type="checkbox" /></td>
                    </tr>
                }
            </table>



            <div style="float: right">
                <strong>

                    <span id="LabelTotalText">
                        Order Total :<label id="lblTotal" class="NormalBold">@ViewBag.lblTotal</label>
                    </span>
                </strong>
            </div>
            <div align="left">
                <label id="statusLabel" class="NormalBold" style="color:red;">@ViewBag.statusLabel</label>
            </div>
            <br />
            <div align="left">
                <input type="submit" style="position:absolute;left:-100px;top:-100px;width:0px;height:0px;"
                       onclick="javascript:return false;" />
                <a href='@Url.Action("ProductList", "Home", new { searchText = "",itemText="" ,site_code=Session["Site_Code"],site_desc=Session["Sitedesc"]})'>
                    <img id="Image1" src="~/Content/img/yellowarrow.gif"
                         alt="ReturnToCatalog" style="border-width: 0" />
                </a>
            </div>
            <div align="center" id="btndiv">
                @if (ViewBag.ShoppingCartTitle == "Shopping Cart is Empty")
                {

                    <img id="UpdateBtn" src="~/Content/img/update_cart.gif" alt="Update your Shopping Cart" />

                    <img id="CheckoutBtn" src="~/Content/img/final_checkout.gif" alt="Submit and Return to EBP" />
                    
                }
                else
                {
                    <img id="UpdateBtn" style="cursor: pointer" src="~/Content/img/update_cart.gif" alt="Update your Shopping Cart" onclick="addMyList()" />
                    <a  onclick="return confirm('Are you sure you want to place this order?')" href='@Url.Action("CheckOut","Home")'>
                        <img id="CheckoutBtn" src="~/Content/img/final_checkout.gif" alt="Submit and Return to EBP"/>
                    </a>

                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function addMyList() {
        var projworkProgress = [];
        var TrCount8 = $("#MyList tr").length;

        for (var i = 0; i < TrCount8-1; i++) {
            projworkProgress.push({
                Quantity: $("#MyList tr #txtQuantity input").eq(i).val(),
                ItemCode: $("#MyList tr #lblItemCode").eq(i).text(),
                Remove: $("#MyList tr #chkremove input[type='checkbox']").eq(i).is(':checked')
            });
        }


        var str2 = JSON.stringify(projworkProgress);

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateShoppingCart", "Home")',
            data: { str2: str2},
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                window.location.reload();
            },
        });
    }
</script>
