@model Punchout.Web.Models.hw_sites

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bind DropdownList Details</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Model.siteinfo != null)
    {
        <div>
            @using (Html.BeginForm("ProductList", "Home", FormMethod.Post, new { @name = "Form1" }))
            {

                <div class="row">
                    Select Site:
                </div>
                <div class="row">

                    @Html.DropDownListFor(m => m.site_code, new SelectList(Model.siteinfo, "site_code", "site_desc"), "--Select Site--", htmlAttributes: new { @class = "form-control", id = "ddlSite" })
                    @Html.Hidden("site_desc", null, new { @id = "hfsite_desc" })
                </div>
                <br />
                <div class="row">
                    Search Item Code:
                </div>
                <div class="row">
                    <input type="text" name="itemText" id="itemText" />
                </div>
                <br />
                <div class="row">
                    Search Item Description:
                </div>
                <div class="row">
                    <input type="text" name="searchText" id="searchText" />
                </div>
                <br />
                <div class="row">
                    @*<input type="button"
                        value="Go Somewhere Else"
                        onclick="location.href='<%: Url.Action(" Action", "Controller" ) %>'" />*@

                    <button type="submit" id="search" @*onclick="GetData()"*@>Search</button>
                    @*<input type="button" value="Search" onclick="location.href='<%:Url.Action(" ProductListByItemCode","Home")%>'"/>*@

                </div>


                <br />
                <div class="row">
                    Show all products for your site
                </div>

                <div class="row">
                    <input type="submit" value="Show All" />
                </div>
            }
            <br />
            <div id="dvPassport" style="display: none">
                <div class="row">
                    @*<label id="cancelLabel" style="display:none;">Cancel Shopping</label>*@
                    Cancel Shopping
                </div>
                <div class="row">
                    <input type="button" value="Cancel" />
                </div>
            </div>
        </div>
        <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                if ($("#ddlSite").val() == '') {
                    $("#dvPassport").hide();
                } else {
                    $("#dvPassport").show();
                }
            });
            $("#ddlSite").change(function () {
            //var siteId = $(this).val();

            //console.log(siteId);

         //   var sitedesc = $("#ddlSite option:selected").text();
           var sitedesc= $("#hfsite_desc").val($(this).find("option:selected").text());
            document.forms["Form1"].submit();
            //if ($(this).val() == "Y") {
            //    $("#dvPassport").show();
            //} else {
            //    $("#dvPassport").hide();
            //}
            //$("#ddlSite").not(this).find("option[value=" + $(this).val() + "]").attr('disabled', true);
            //$('#ddlSite').attr("disabled", true);
           // $("#ddlSite").attr("disabled", "disabled");

        });
            //$("#ddlSite").change(function SiteHideandshow() {
            //    var site_code = $("#ddlSite option:selected").val();
            //    if (site_code == "--Select Site--")
            //        $('#ddlSite').attr("disabled", false);
            //    else
            //        $('#ddlSite').attr("disabled", true);
            //});
            @*function GetData() {
                console.log("hi");
                var site_code = $("#ddlSite option:selected").val();
                var site_desc = $("#hfsite_desc").val($(this).find("option:selected").text());
                var itemText = $("#itemText").val();
                var searchText = $("#searchText").val();
                $.ajax({
                type: "GET",
                    url: '@Url.Action("ProductList", "Home")?searchText=' + searchText + '&itemText=' + itemText + '&SiteId=' + site_code + '&SiteDesc=' + site_desc + '',

                    success: function (data) {

                    console.log(data);
                    //$("#partialDiv").html(" Please wait...").show();
                    $("#partialDiv").html(data);
                }
            });
            }*@

            @*console.log(sitedesc);
            var searchText = $("#searchText").val();
            console.log(searchText);
            var itemText = $("#itemText").val();
            console.log(itemText);
            console.log(siteId);

            Window.location.href=@Url.Action("ProductList", "Home",new { @searchText= searchText, })?searchText=' + searchText + '&itemText=' + itemText + '&SiteId=' + siteId + '&SiteDesc=' + sitedesc + '*@
           @* $.ajax({
                type: "GET",
                url: '@Url.Action("ProductList", "Home")?searchText=' + searchText + '&itemText=' + itemText + '&SiteId=' + siteId + '&SiteDesc=' + sitedesc + '',

                success: function (data) {

                }
            });
        });*@
        </script>

    }
</body>
</html>