@model Punchout.Entities.CI_Item

@{
    ViewBag.Title = "Product Details";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
    string ProductImageUrl = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["productImageUrl"]);
}

<div id="content">
    <div id="centerColumn">

        <div>
            <div>
                <h2></h2>

                <div class="ContentHead" style="width: max-content;">
                    @{
                        var ItemDesc = Model.ItemCodeDesc + "--" + Model.Category2 + " " + Model.Category1;
                        @Html.DisplayFor(Model => ItemDesc)
                    }
                </div>
                <table border="0" style="margin-top:23px;">
                    <tr>
                        <td style="vertical-align:top;">

                            @{
                                string image = ProductImageUrl + Model.Category1 + ".jpg";
                            }
                            @Html.Image("categoryImage", image, "Product Image")
                        </td>
                        <td style="vertical-align: top">
                            <table>
                                <tr>
                                    <td>
                                        @{
                                            var description = Model.ItemCodeDesc + "--" + Model.Category2;
                                            @Html.DisplayFor(Model => description)
                                        }
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        @{
                                            var manufacture = "Manufacturer:" + Model.UDF_MANUFACT;
                                            @Html.DisplayFor(Model => manufacture)
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                             @{ 
                                 var StandardLeadTime = Session["StandardTime"];
                                 @Html.DisplayFor(Model=>StandardLeadTime)
                             }
                                    </td>
                                </tr>
                            </table>
                            
                        </td>
                    </tr>
                    
                </table>
                <span class="UnitCost">
                    @{
                        var Price = "Your Price:" + String.Format("{0:C}",Model.StandardUnitPrice);
                        @Html.DisplayFor(Model => Price)
                    }
                </span>
                <br />
                <a href='@Url.Action("AddToCart", "Home", new { id = Model.ItemCode })'>
                    <img id="Img1" src="~/Content/img/add_to_cart.gif" runat="server"
                         alt="Add To Cart" style="border-width: 0" />
                </a>
                <br /><br />
            </div>
    </div>

</div>
