@model Punchout.Entities.CI_Item

@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="centerColumn">
        
            <div>
                <h2>Product Details</h2>
                <hr />

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ItemCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ItemCode)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ItemCodeDesc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ItemCodeDesc)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Category1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Category2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category2)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
       
    </div>
