@model Punchout.Web.Models.ProductListViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "ProductList";
  //  Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";

}

<div id="content">

    <div id="centerColumn">
        <div>
            @*<h3 style="font-weight:bold;font-size:21px;">Showing all products- @Model.totalProductCount Items Found</h3>*@
            <h3 style="font-weight:bold;font-size:21px;">@Session["ProductListTitle"] @Model.totalProductCount Items Found</h3>
            <p class="NormalRed">
                These are the approved HS&E items for your site. To add items to your approved list, please use the link above.
            </p>
            <div class="table-responsive">
                <div id="partialDiv" class="middle-bottom-content-inner">
                    <table class="table tftable middle-bottom-content-inner">
                        <tr style="background: -webkit-linear-gradient(top, #4184c3 0%,#254562 100%);font-weight: bold;color: white;">
                            <th>
                                Item Code
                            </th>

                            <th style="width:250px">
                                Item Description
                            </th>
                            <th>
                                Unit of Measure
                            </th>

                            <th>
                                Unit Price
                            </th>
                            <th style="text-wrap:normal;">
                                Lead Time (days)
                            </th>
                            <th>Details</th>
                            <th>Add To Cart</th>

                        </tr>
                        @foreach (var item in Model.productList)
                        {
                            <tr style="background-color: white;color: #333333;align-content:center;">
                                <td>
                                    @Html.DisplayFor(modelitem => item.ItemCode)
                                </td>
                                <td>
                                    @{
                                        var fullname = item.ItemCodeDesc + "--" + item.Category2 + " " + item.Category1;
                                        @Html.DisplayFor(modelitem => fullname)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.SalesUnitOfMeasure)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.StandardUnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.UDF_HNW_CLASSIFICATION_CODE)
                                </td>
                                <td>
                                    @Html.ActionLink("Click", "ProductDetails", new { id = item.ItemCode })
                                </td>
                                <td>
                                    @Html.ActionLink("AddItem", "AddToCart", new { id = item.ItemCode })
                                </td>
                            </tr>
                        }
                    </table>

                    Page@(Model.productList.PageCount < Model.productList.PageNumber ? 0 : Model.productList.PageNumber) of @Model.productList.PageCount
                    @Html.PagedListPager(Model.productList, page => Url.Action("ProductList", new { @site_desc = Session["Sitedesc"], page }))
                </div>

            </div>
        </div>
    </div>

</div>
