@{
    Punchout.Web.Models.hw_sites Model = (Punchout.Web.Models.hw_sites)ViewData["layoutPageData"];
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <!-- Google Fonts -->
    <link href="~/Content/css/fonts.googleapis.css" />
    <!-- Vendor CSS Files -->
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/responsive.foundation.min.css" />
    <link rel="stylesheet" href="~/Content/css/responsive.jqueryui.min.css" />
    <link rel="stylesheet" href="~/Content/css/responsive.semanticui.min.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/multiple-select.min.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/Content/css/style_new.css" rel="stylesheet">
    <link href="~/Content/css/style_layout.css" rel="stylesheet">
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/responsive.bootstrap4.min.js"></script>
    <script src="~/Scripts/responsive.dataTables.min.js"></script>
    <script src="~/Scripts/responsive.foundation.min.js"></script>
    <script src="~/Scripts/responsive.jqueryui.min.js"></script>
    <script src="~/Scripts/responsive.semanticui.min.js"></script>
</head>
<body>
    <div class="main-wrapper dashboard-wrapper reports-wrapper">
        <div class="sidebar-wrap">
            @Html.Partial("_LeftNavigation")
        </div>
        <div class="right-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="middle-wrapper">
                        <header>
                            <img src="~/Content/img/ChemicoLLC_Logo.png"> 
                        </header>
                        <div style="border-bottom:1px solid lightgrey" class="login-cart">
                            <div id="subheader">
                                <h2>
                                    Welcome HoneyWell User. Your Site is @Session["Sitedesc"]
                                </h2>
                            </div>
                            <div>
                                <div class="login-cart">
                                    <div>

                                    </div>
                                    <div style="display:flex;">
                                        <div class="my-account-wrap clearfix" style="float:right; display:none;">
                                            <div class="my-account float-right mr-3 mt-3">
                                                <span>My Account</span>
                                                <a class="menu-toggle" href='#'><span><img src="~/Content/img/user.svg"></span></a>
                                                <div class="menu-toggle-wrap">
                                                    <ul>
                                                        <li><a href="#" id="lnkLogout">Logout</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="cart">
                                            <a href='@Url.Action("MyShoppingCart", "Home", new {method="noadd"})'>
                                                <img src="~/Content/img/cart-icon.png" style="background-color:transparent" />
                                            </a>
                                            <p> Cart (@Session["numrows"] Items)</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                            <section>
                                @{
                                    Html.RenderPartial("PartialLayout", Model);
                                }
                            </section>
                            <div>
                                @RenderBody()
                                <hr />
                                <footer>
                                    <p>Copyright © 2020 Chemico, LLC</p>
                                </footer>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/js/main_new.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".menu-toggle").click(function () {
                debugger;
                $(".menu-toggle-wrap").toggle(100);
            });
        });

        $("#lnkLogout").click(function () {
            $.ajax({
                url: '/Account/LogOut',
                type: 'Post',
                success: function (result) {
                    window.location.href = '/Account/Login';
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        });
    </script>
</body>
</html>
